@import "./fonts.css";
@import "./satoshi.css";
@import "./solide.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.main-presentation-text {
  font-family: 'Solide Mirage';
}

.main-nav-link {
  @apply mr-auto text-xl font-sans text-zinc-300 font-SatoshiBold;
}

.nav-link {
  @apply mx-4 text-base font-sans text-zinc-300 font-LTInstitute font-SatoshiMedium;
}

.nav-link-footer {
  @apply text-base font-sans text-zinc-300 font-LTInstitute font-SatoshiMedium;
}

.main-nav-link-footer {
  @apply text-base font-sans text-zinc-300 font-LTInstitute font-SatoshiMedium;
}

.nav-link:visited {
  @apply text-zinc-300 font-LTInstitute font-SatoshiMedium;;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}